<%- include('../partials/head') -%> 

<%- include('../partials/navbar') -%> 

<!-- main-content section starts  -->

<main>
  <h1 class="heading"> <span>login</span> </h1>
  <form action="/login" method="POST">
    <div>
        <label for="username">Username </label>
        <input type="text" name="username" id="username" required />
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required />
    </div>
    <div>
        <input type="submit" value="Submit"/>
        <br>
        <br>
        <h3 class="text-center">OR</h3>
    </div>
    <p><a href="/auth/google" class="btn">Login with Google</a></p>
    <p>Don't Have An Account? <a href="/register">Create one here.</a></p>
  </form>
</main>

<!-- main-content section ends -->

<%- include('../partials/footer') -%> 